<div class="container-fluid">

    <app-page-title title="Liste des clients" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm-4">
                <div class="search-box me-2 mb-2 d-inline-block">
                  <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="text-sm-end">
                  <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                    <i class="mdi mdi-plus me-1"></i> 
                    Ajouter un client
                  </button>
                </div>
              </div>
              <!-- end col-->
            </div>
            <div class="table-responsive">
              <table class="table align-middle  table-nowrap table-hover">
                <thead class="table-light">
                  <tr>
                    <th scope="col" style="width: 70px;">#</th>
                    <th scope="col">Nom & Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of UserData">
                  <td>{{user.id}}</td>
                  <td>{{user.nom}} {{user.prenom}}</td>
                  <td>{{user.email}}</td>
                  <td>
                    <p class="mb-1">{{user.tel}}</p>
                  </td>
                  <td>{{user.dateNaissance}}</td>
                    <td>
                      <ul class="list-inline font-size-20 contact-links mb-0">
                        <li class="list-inline-item">
                          <a class="btn btn-success m-1" href="/chat" ngbTooltip="Message"><i class="bx bx-message-square-dots"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a class="btn btn-danger m-1" ngbTooltip="Supprimer" (click)="confirmSupp(user.id)"><i class="fas fa-trash-alt me-1"></i></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul class="pagination pagination-rounded justify-content-center mt-4">
                  <li class="page-item disabled">
                    <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                  </li>
                  <li class="page-item active">
                    <a href="javascript: void(0);" class="page-link">1</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript: void(0);" class="page-link">2</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript: void(0);" class="page-link">3</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript: void(0);" class="page-link">4</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript: void(0);" class="page-link">5</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript: void(0);" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Standard Modal -->
  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Ajouter un client</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <form (ngSubmit)="validSubmit()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Nom</label>
            <input class="form-control" placeholder="Entre nom" type="text" name="nom" autocomplete="off" formControlName="username"
                [ngClass]="{'is-invalid': submitted && form.username.errors}"/>
              <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                <span *ngIf="form.username.errors.required">Nom d'utilisateur est obligatoire.</span>
              </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Prenom</label>
            <input class="form-control" placeholder="Entre prenom" type="text" name="prenom" autocomplete="off" formControlName="prenom"
                [ngClass]="{'is-invalid': submitted && form.prenom.errors}" />
              <div *ngIf="submitted && form.prenom.errors" class="invalid-feedback">
                <span *ngIf="form.prenom.errors.required">Prenom d'utilisateur est obligatoire.</span>
              </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Date de naissance</label>
            <input class="form-control" placeholder="Date de naissance" type="date" name="dateNaissance" autocomplete="off" formControlName="dateNaissance"
                [ngClass]="{'is-invalid': submitted && form.dateNaissance.errors}" />
              <div *ngIf="submitted && form.dateNaissance.errors" class="invalid-feedback">
                <span *ngIf="form.dateNaissance.errors.required">Date de naissance d'utilisateur est obligatoire.</span>
              </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Telephone</label>
            <input class="form-control" placeholder="Entrez le téléphone" type="text" name="phone" autocomplete="off" formControlName="phone"
                [ngClass]="{'is-invalid': submitted && form.phone.errors}" />
              <div *ngIf="submitted && form.phone.errors" class="invalid-feedback">
                <span *ngIf="form.phone.errors.required">Le téléphone est obligatoire.</span>
              </div>
          </div>
  
          <div class="mb-3">
            <label class="control-label">Email</label>
            <input class="form-control" placeholder="Entre email" type="text" name="email" autocomplete="off" formControlName="email"
                [ngClass]="{'is-invalid': submitted && form.email.errors}" />
                <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                  <span *ngIf="form.email.errors.required">E-mail d'utilisateur est obligatoire.</span>
                  <span *ngIf="form.email.errors.pattern">Cette valeur doit être un e-mail valide.</span>
                </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form.password.errors }" id="password" placeholder="Mot de passe" />
  
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
              <div *ngIf="form.password.errors.required">Mot de passe de obligatoire</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Role</label>
              <ng-select [items]="['client']" name="role" required formControlName="role" [ngClass]="{'is-invalid': submitted && form.role.errors}"></ng-select>
              <div *ngIf="submitted && form.role.errors" class="invalid-feedback">
                <span *ngIf="form.role.errors.required">Role est obligatoire.</span>
              </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event" (click)="saveUser()">
        Enregistrer
      </button>
     </form>
    </div>
  </ng-template>