<footer class="footer">				
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-about">
						<div class="footer-logo">
							<img src="../../../assets/img/footer-logo.png" alt="logo">
						</div>
						<div class="footer-about-content">
							<p>ParaShop, la parapharmacie en ligne pas chère 100% discount et 100% promo. Découvrez ParaShop, une parapharmacie en ligne spécialisée dans la vente de produits pas chers & promotionnels !   Les offres, promos et soldes, c'est toute l’année sur ParaShop. </p>
							<div class="social-icon">
								<ul>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin-in"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Pour Client</h2>
						<ul>
							<li><a [routerLink]="'/login'">Login</a></li>
							<li><a [routerLink]="'/Register'">Register</a></li>
							<li><a [routerLink]="'/patients/dashboard'">Client Dashboard</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
				</div>

				
				<div class="col-lg-3 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-contact">
						<h2 class="footer-title">Nous contacter</h2>
						<div class="footer-contact-info">
							<div class="footer-address">
								<span><i class="fas fa-map-marker-alt"></i></span>
								<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
							</div>
							<p>
								<i class="fas fa-phone-alt"></i>
								+216 51 321 774
							</p>
							<p class="mb-0">
								<i class="fas fa-envelope"></i>
								support@parashop.com
							</p>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- /Footer Top -->
	
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container-fluid">
		
			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="copyright-text">
							<p class="mb-0">© 2020 ProTech-IT. All rights reserved.</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
					
						<!-- Copyright Menu -->
						<div class="copyright-menu">
							<ul class="policy-menu">
								<li><a [routerLink]="'/terms-conditions'">Termes et conditions</a></li>
								<li><a [routerLink]="'/privacy-policy'">Politique</a></li>
							</ul>
						</div>
						<!-- /Copyright Menu -->
						
					</div>
				</div>
			</div>
			<!-- /Copyright -->
			
		</div>
	</div>
	<!-- /Footer Bottom -->	
</footer>