<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home'">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">À propos de nous</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">À propos de nous</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <a href="javascript:voide(0);" class="about-titile mb-4">À propos de ParaMed</a>
                <h2 class="m-5">ParaMed</h2>
                <p>Un site 100% PROMO : Les meilleurs produits de parapharmacie à prix discount.</p>
                <p class="mb-2">La parapharmacie en ligne pas chère 100% discount et 100% promo.</p>
                <p class="mb-3"> Vous n’avez pas le temps d’aller à la pharmacie et souhaitez passer votre commande sur Internet ?
                <p class="mb-3">Découvrez ParaMed tunisie, une parapharmacie en ligne spécialisée dans la vente de produits pas chers & promotionnels !</p>
                    
                <p class="mb-3">Le site de parapharmacie en ligne ParaMed tunisie est sécurisé afin de vous garantir un vente en toute confiance et la protection de vos données personnelles.</p>
                    
                <p class="mb-3">Toute l’équipe de la parapharmacie ParaMed tunisie s’engage à apporter la plus grande attention à votre commande, à vous informer de la disponibilité des produits pour assurer un traitement rapide de votre expédition.</p>
                <p class="mb-3">Le Service Clients de ParaMed est à votre disposition pour votre entière satisfaction.</p>
                <p class="mb-3">Pour le contacter :</p>
                <p class="mb-3"><i class="fas fa-phone-alt"></i> :  +216 51 321 774 du lundi au Samedi de 09h00 à 20h00</p>
                <p class="mb-3"><i class="fas fa-envelope"></i> : support@paramed.com</p>
                <p class="mb-3"><i class="fas fa-map-marker-alt"></i> : 3556 Beech Street, San Francisco, California, CA 94108</p>

            </div>
        </div>
    </div>
</section>
<!-- /Page Content -->