<div class="container-fluid">

  <app-page-title title="Les utilisateurs" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                  <i class="mdi mdi-plus me-1"></i> Nouvel utilisateur
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Telephone/ E-mail</th>
                  <th>Date de naissance</th>
                  <th>Role</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customers of customersData  | filter:term ;let i = index;">
                  
                  <td>{{customers.id}}</td>
                  <td>{{customers.username}}</td>
                  <td>{{customers.prenom}}</td>
                  <td>
                    <p class="mb-1">{{customers.phone}}</p>
                    <p class="mb-0">{{customers.email}}</p>
                  </td>

                  <td>{{customers.dateNaissance}}</td>
                  <td>{{customers.role}}</td>
                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a href="javascript: void(0);" class="dropdown-item" (click)="modifierUser()">
                          <i class="fas fa-pencil-alt text-success me-1"></i>Modifier</a>
                        </li>
                        <li><a href="javascript: void(0);" class="dropdown-item" (click)="supprimerUser()">
                          <i class="fas fa-trash-alt text-danger me-1"></i>Supprimer</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination [collectionSize]="50" [(page)]="currentpage"
            class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Ajouter un client/Livreur/Admin</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
   <form (ngSubmit)="saveCustomer()" [formGroup]="formData">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label class="control-label">Nom</label>
          <input class="form-control" placeholder="Entre nom" type="text" name="nom" autocomplete="off" formControlName="username"
              [ngClass]="{'is-invalid': submitted && form.username.errors}" />
            <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
              <span *ngIf="form.username.errors.required">Nom d'utilisateur est obligatoire.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Prenom</label>
          <input class="form-control" placeholder="Entre prenom" type="text" name="prenom" autocomplete="off" formControlName="prenom"
              [ngClass]="{'is-invalid': submitted && form.prenom.errors}" />
            <div *ngIf="submitted && form.prenom.errors" class="invalid-feedback">
              <span *ngIf="form.prenom.errors.required">Prenom d'utilisateur est obligatoire.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Date de naissance</label>
          <input class="form-control" placeholder="Date de naissance" type="date" name="dateNaissance" autocomplete="off" formControlName="dateNaissance"
              [ngClass]="{'is-invalid': submitted && form.dateNaissance.errors}" />
            <div *ngIf="submitted && form.dateNaissance.errors" class="invalid-feedback">
              <span *ngIf="form.dateNaissance.errors.required">Date de naissance d'utilisateur est obligatoire.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Telephone</label>
          <input class="form-control" placeholder="Entrez le téléphone" type="text" name="phone" autocomplete="off" formControlName="phone"
              [ngClass]="{'is-invalid': submitted && form.phone.errors}" />
            <div *ngIf="submitted && form.phone.errors" class="invalid-feedback">
              <span *ngIf="form.phone.errors.required">Le téléphone est obligatoire.</span>
            </div>
        </div>

        <div class="mb-3">
          <label class="control-label">Email</label>
          <input class="form-control" placeholder="Entre email" type="text" name="email" autocomplete="off" formControlName="email"
              [ngClass]="{'is-invalid': submitted && form.email.errors}" />
              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                <span *ngIf="form.email.errors.required">E-mail d'utilisateur est obligatoire.</span>
                <span *ngIf="form.email.errors.pattern">Cette valeur doit être un e-mail valide.</span>
              </div>
        </div>
        
        <div class="mb-3">
          <label class="control-label">Role</label>
            <ng-select [items]="['Admin','Client','Livreur']" name="role" required formControlName="role" [ngClass]="{'is-invalid': submitted && form.role.errors}"></ng-select>
            <div *ngIf="submitted && form.role.errors" class="invalid-feedback">
              <span *ngIf="form.role.errors.required">Role est obligatoire.</span>
            </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" id="btn-save-event">
      Save
    </button>
   </form>
  </div>
</ng-template>

