	<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
								
							<!-- Register Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="../../assets/img/login-banner.png" class="img-fluid" alt="Doccure Register">	
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Inscription</h3>
										</div>
										
										<!-- Register Form -->
										<form>
											<!------------------------------------- Name ------------------------------------->
											<div class="form-group form-focus">
												<input type="text" name="nom"  class="form-control floating" [(ngModel)]="nom">
												<label class="focus-label">Nom</label>
											</div>

											<!------------------------------------- Lastname ------------------------------------->

											<div class="form-group form-focus">
												<input type="text" name="prenom"  class="form-control floating" [(ngModel)]="prenom">
												<label class="focus-label">Prenom</label>
											</div>

											<!-------------------------------------Date Naissance ------------------------------------->

											<div class="form-group form-focus">
												<input type="date" name="dateNaissance" class="form-control floating" [(ngModel)]="dateNaissance">
												
											</div>

											<!------------------------------------- Phone ------------------------------------->

											<div class="form-group form-focus">
												<input type="text" name="tel"  class="form-control floating" [(ngModel)]="tel" max="8">
												<label class="focus-label">Telephone</label>
											</div>
											<!------------------------------------- Adresse ------------------------------------->
											<div class="form-group form-focus">
												<input type="text" name="adresse" class="form-control floating" [(ngModel)]="adresse">
												<label class="focus-label">Adresse</label>
											</div>
											<!------------------------------------- Ville ------------------------------------->
											<div class="form-group form-focus">
												<input type="text" name="ville"  class="form-control floating" [(ngModel)]="ville">
												<label class="focus-label">Ville</label>
											</div>
											<!------------------------------------- Code Postal ------------------------------------->
											<div class="form-group form-focus">
												<input type="text" name="codePostal" class="form-control floating" [(ngModel)]="codePostal">
												<label class="focus-label">Code Postal</label>
											</div>
											<!------------------------------------- Pays ------------------------------------->
											<div class="form-group form-focus">
												<label class="focus-label">Pays</label>
												<select class="form-control select form-select" class="form-control floating" [(ngModel)]="pays">
													<option>Ariana</option>
													<option>Béja</option>
													<option>Ben Arous</option>
													<option>Bizerte</option>
													<option>Gabès</option>
													<option>Gafsa</option>
													<option>Jendouba</option>
													<option>Kairouan</option>
													<option>Kasserine</option>
													<option>Kébili</option>
													<option>Kef</option>
													<option>Mahdia</option>
													<option>Manouba</option>
													<option>Médenine</option>
													<option>Monastir</option>
													<option>Nabeul</option>
													<option>Sfax</option>
													<option>Sidi Bouzid</option>
													<option>Siliana</option>
													<option>Sousse</option>
													<option>Tataouine</option>
													<option>Tozeur</option>
													<option>Tunis</option>
													<option>Zaghouan</option>
												</select>
											</div>
											<!------------------------------------- Email ------------------------------------->
											
											<div class="form-group form-focus">
												<input type="email" name="email"  class="form-control floating" [(ngModel)]="email">
												<label class="focus-label">Email</label>
											</div>

											<!------------------------------------- Password ------------------------------------->

											<div class="form-group form-focus">
												<input type="password" name="password" class="form-control floating"  [(ngModel)]="password">
												<label class="focus-label">Mot de passe</label>
											</div>
											<!------------------------------------- Vous avez déjà un compte? ------------------------------------->

											<div class="text-end">
												<a class="forgot-link" [routerLink]="'/login-page'">Vous avez déjà un compte?</a>
											</div>
											<!------------------------------------- Button S'inscrire ------------------------------------->

											<button class="btn btn-primary w-100 btn-lg login-btn" type="submit" (click)="signup()">S'incrire</button>
											<div class="login-or">
												<span class="or-line"></span>
												<span class="span-or">ou</span>
											</div>

											<!------------------------------------- Connexion avec Google & Facebook ------------------------------------->

											<div class="row form-row social-login">
												<div class="col-6">
													<a href="javascript:void(0)" class="btn btn-facebook w-100"><i class="fab fa-facebook-f me-1"></i> Connexion</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0)" class="btn btn-google w-100"><i class="fab fa-google me-1"></i> Connexion</a>
												</div>
											</div>
										</form>
										<!-- /Register Form -->
										
									</div>
								</div>
							</div>
							<!-- /Register Content -->
								
						</div>
					</div>

				</div>

			</div>		