<div class="container-fluid">

    <app-page-title title="Categories" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm-4">
                <div class="search-box me-2 mb-2 d-inline-block">
                  <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="text-sm-end">
                  <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                    <i class="mdi mdi-plus me-1"></i> Ajouter une categorie
                  </button>
                </div>
              </div>
              <!-- end col-->
            </div>
            <div class="table-responsive">
              <table class="table align-middle table-nowrap">
                <thead class="table-light">
                  <tr>
                    <th>#</th>
                    <th>Nom categorie</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let categories of categorieData">
                    <td>{{categories.id}}</td>
                    <td>{{categories.nom}}</td>
                    <td>
                      <div class="dropdown" ngbDropdown placement="bottom-right">
                        <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                          ngbDropdownToggle aria-expanded="false">
                          <i class="mdi mdi-dots-horizontal font-size-18"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                          <li><a href="javascript: void(0);" class="dropdown-item"><i
                                class="fas fa-pencil-alt text-success me-1"></i>
                              Modifier</a></li>
                          <li><a href="javascript: void(0);" class="dropdown-item"><i
                                class="fas fa-trash-alt text-danger me-1" (click)="confirmSupp()"></i>
                              Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  
  <!-- Standard Modal -->
  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Ajouter une categorie</h5>
      <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <form [formGroup]="categorieForm" (ngSubmit)="validSubmit()" (ngSubmit)="saveCategorie()">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Nom du Categorie</label>
            <input class="form-control" placeholder="Enter le nom du categorie" type="text" name="categorie" autocomplete="off" formControlName="categorie"
                [ngClass]="{'is-invalid': submitted && form.categorie.errors}"/>
                <div *ngIf="submitted && form.categorie.errors" class="invalid-feedback">
                  <span *ngIf="form.categorie.errors.required">Le Nom du categorie est obligatoire.</span>
                </div>
                
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event">
        Enregistrer
      </button>
     </form>
    </div>
  </ng-template>