<!-- start page title -->
<app-page-title title="Ajouter une catégorie" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<!-- end page title -->

<div class="row">
  <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter une categorie</h4>
                <div class="alert alert-danger" *ngif="errorMsg.length > 0">
                    <div *ngFor="let msg of errorMsg">
                        <span>{{msg}}</span>
                    </div>

                </div>
                <form [formGroup]="categorieForm" (ngSubmit)="validSubmit()">
                    <div class="row">
                        <div class="col-sm-6">

                <!--================================================= Nom Categorie =================================================-->
                            <div class="mb-3">
                                <label for="categoriename">Nom du categorie</label>
                                <input id="categoriename" name="categoriename" type="text" class="form-control" formControlName="name"
                                [ngClass]="{'is-invalid': submit && form.name.errors}" [(ngModel)]="categories.Nom"/>
                                <div *ngIf="submit && form.name.errors" class="invalid-feedback">
                                    <span *ngIf="form.name.errors.required">Nom du categorie est obligatoire.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--================================================= Les Buttons =================================================-->

                    <div class="d-flex flex-wrap gap-2 mt-2">
                        <button type="submit" class="btn btn-primary" (click)="enregistreCategorie()">Sauvegarder</button>
                        <button type="submit" class="btn btn-secondary" (click)="cancel()">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    