<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="''">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Caisse</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">
                    Caisse</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-7">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Détails de la facturation</h3>
                    </div>
                    <div class="card-body">
                    
                        <!-- Checkout Form -->
                        <form>
                        
                            <!-- Personal Information -->
                            <div class="info-widget">
                                <h4 class="card-title">Renseignements personnels</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Prenom *</label>
                                            <input class="form-control" type="text" name="prenom">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Nom *</label>
                                            <input class="form-control" type="text" name="nom">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Email *</label>
                                            <input class="form-control" type="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Téléphone *</label>
                                            <input class="form-control" type="text" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="exist-customer">Client existant? <a [routerLink]="'/login-page'">
                                    Cliquez ici pour vous connecter</a></div>
                            </div>
                            <!-- /Personal Information -->

                            <!-- Shipping Details -->
                            <div class="info-widget">
                                <h4 class="card-title">Les détails de livraison</h4>
                                <div class="terms-accept">
                                    <div class="custom-checkbox">
                                       <input type="checkbox" id="terms_accept" name="checkbox1">
                                       <label for="terms_accept" class="ms-2">
                                        Livrer à une adresse différente?</label>
                                    </div>
                                </div>
                                <div class="form-group card-label">
                                    <label class="ps-0 ms-0 mb-2">Notes de commande (facultatif)</label>
                                    <textarea rows="5" class="form-control" name="shipping"></textarea>
                                </div>
                            </div>
                            <!-- /Shipping Details -->
                            
                            <div class="payment-widget">
                                <h4 class="card-title">Méthode de paiement *</h4>
                                
                                <!-- Credit Card Payment -->
                                <div class="payment-list">
                                    
                                    <label class="payment-radio credit-card-option">
                                        <input type="radio" name="radio1">
                                        <span class="checkmark"></span>
                                        Carte de crédit
                                    </label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_name">
                                                    Nom sur la carte</label>
                                                <input class="form-control" id="card_name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_number">
                                                    Numéro de carte</label>
                                                <input class="form-control" id="card_number" placeholder="1234  5678  9876  5432" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="expiry_month">Mois d'expiration</label>
                                                <input class="form-control" id="expiry_month" placeholder="MM" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="expiry_year">Année d'expiration</label>
                                                <input class="form-control" id="expiry_year" placeholder="YY" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="cvv">CVV</label>
                                                <input class="form-control" id="cvv" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Payer à livraison -->
                                    <div class="payment-list">
                                        <label class="payment-radio paypal-option">
                                            <input type="radio" name="radio2" checked>
                                            <span class="checkmark"></span>
                                            Payer à livraison
                                        </label>
                                    </div>
                                    <!-- /Payer à livraison -->
                                </div>
                                <!-- /Credit Card Payment -->
                                
                                

                                <!-- Terms Accept -->
                                <div class="terms-accept">
                                    <div class="custom-checkbox">
                                       <input type="checkbox" id="terms_accept1" name="chekbox2">
                                       <label for="terms_accept1" class="ms-2">j'ai lu et accepté <a [routerLink]="'/terms-conditions'">Termes &amp; Conditions *</a></label>
                                    </div>
                                </div>
                                <!-- /Terms Accept -->
                                
                                <!-- Submit Section -->
                                <div class="submit-section mt-4">
                                    <a type="button" class="btn btn-primary submit-btn" (click)="confirmer()">
                                        Confirmer et payer</a>
                                </div>
                                <!-- /Submit Section -->
                                
                            </div>
                        </form>
                        <!-- /Checkout Form -->
                        
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-6 col-lg-5 theiaStickySidebar">
            
                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h3 class="card-title">Votre commande</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center mb-0">
                                <tr>
                                    <th>Produit</th>
                                    <th class="text-end">Total</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td>Safi Natural Blood Purifier Syrup 200 ml Manufactured By Hamdard (Wakf) Laboratories</td>
                                        <td class="text-end">$200</td>
                                    </tr>
                                    <tr>
                                        <td>Safi Natural Blood Purifier Syrup 200 ml</td>
                                        <td class="text-end">$200</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="booking-summary pt-5">
                            <div class="booking-item-wrap">
                                <ul class="booking-date">
                                    <li>Prix <span>$5,877.00</span></li>
                                    <li>Livraison <span>$25.00</span></li>
                                </ul>
                                <ul class="booking-fee">
                                    <li>Tax <span>$0.00</span></li>
                                </ul>
                                <div class="booking-total">
                                    <ul class="booking-total-list">
                                        <li>
                                            <span>Prix Total</span>
                                            <span class="total-cost">$160</span>
                                        </li>
                                        <li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Booking Summary -->
                
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->