<div class="row">
	<!--<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
		<div class="card">
			<div class="card-body text-center">
				<div class="mb-3">
					<img src="assets/img/specialities/pt-dashboard-01.png" alt="" width="55">
				</div>
				<h5>Heart Rate</h5>
				<h6>12 <sub>bpm</sub></h6>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
		<div class="card">
			<div class="card-body text-center">
				<div class="mb-3">
					<img src="assets/img/specialities/pt-dashboard-02.png" alt="" width="55">
				</div>
				<h5>Body Temperature</h5>
				<h6>18 <sub>C</sub></h6>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
		<div class="card">
			<div class="card-body text-center">
				<div class="mb-3">
					<img src="assets/img/specialities/pt-dashboard-03.png" alt="" width="55">
				</div>
				<h5>Glucose Level</h5>
				<h6>70 - 90</h6>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-4 col-xl-3 patient-dashboard-top">
		<div class="card">
			<div class="card-body text-center">
				<div class="mb-3">
					<img src="assets/img/specialities/pt-dashboard-04.png" alt="" width="55">
				</div>
				<h5>Blood Pressure</h5>
				<h6>202/90 <sub>mg/dl</sub></h6>
			</div>
		</div>
	</div>
</div>-->
<div class="row patient-graph-col">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Bienvenue {{user.nom}} {{user.prenom}}</h4>
			</div>
			<div class="card-body pt-2 pb-2 mt-1 mb-1">
				<p><label>Nom :</label> <span>{{user.nom}}</span></p>
				<p><label>Prenom :</label> <span>{{user.prenom}}</span></p>
				<p><label>Email :</label> <span>{{user.email}}</span></p>
				<p><label>Ville :</label> <span>{{user.ville}}</span></p>
				<p><label>Adresse :</label> <span>{{user.adresse}}</span></p>
				<p><label>Date de naissance :</label> <span>{{user.dateNaissance}}</span></p>
			</div>
		</div>
	</div>
</div>





<!-- Graph One-->
<div class="modal fade custom-modal" id="graph1" >
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">BMI Status 1</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="bmi-status">
					<apx-chart
					  [series]="bmichartOptions.series"
					  [chart]="bmichartOptions.chart"
					  [xaxis]="bmichartOptions.xaxis"
					  [stroke]="bmichartOptions.stroke"
					  [colors]="bmichartOptions.colors"
					  [dataLabels]="bmichartOptions.dataLabels"
					  [grid]="bmichartOptions.grid"
					  [title]="bmichartOptions.title"
					></apx-chart>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Graph One-->